.containerCard{
  display: inline-block;
}

.cardBody {
  width: 90%;
}

.cardData {
  color: rgb(0, 0, 0);
  text-align: center;
}

.imgProducto{
  width: 30%;
}

.count {
  margin-left: auto;
  margin-right: auto;
}