.img{
    width: 10vh;
    height: 10vh;
    margin: 0 0 1% 0;
}
.productos{
    font-size: 2.5vh;
}
.cartImg{
    width: 6vh;
    height: 6vh;
}
.productosQ{
    text-align: right;
    display: inline-block;
    margin-inline: 10px;
}