.containerItemCount{
  text-align: center;
}

.btn {
  height: 15%;
  border-radius: 5px;
}

.btn-comprar{
  height: 15%;
  border-radius: 5px;
  text-align: center;
  margin: 2%;
}

.inputContador{
  color: rgb(255, 255, 255);
  background-color: rgb(42, 42, 42);
  width: 5%;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}