.containerCard {
  margin: 2% 2% 2% 2%;
  margin-left: 30%;
  margin-right: 30%;
}

.cardBody {
  width: 80vh;
}

.cardData {
  color: rgb(0, 0, 0);
  float: center;
  font-size: 2.5vh;
}

.imgProducto {
  width: 30vh;
  float: center;
}

.count {
  float: center;
}
.ItemCount {
  float: center;
}
